.cards_container {
  background-color: #fff;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 125px;
}

.main_heading {
  color: rgb(124, 30, 30);
  font-size: 48px;
  padding: 35px;
  text-align: center;
  font-weight: 700;
}

.over-ons-text {
  font-size: 20px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #722622;
}

.contact-card-container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 100%;
  height: auto;
  box-shadow: 20px 14px 20px 13px #00000042;
  border-radius: 10px;
  margin: 100px 50px;
}

.contact-foto {
  max-width: 30%;
  height: auto;
  margin: 20px;
  border-radius: 50%;
}

.contact-naam {
  font-size: 30px;
  color: #722622;
  font-weight: 700;
}

.ct {
  color: rgba(0, 0, 0, 0.9) !important;
}

.ct:hover {
  border-bottom: 2px solid #722622;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif !important;
}

@media screen and (max-width: 1400px) {
  .over-ons-text {
    font-size: 16px;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #722622;
  }

  .contact-card-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 80%;
    height: auto;
    box-shadow: 20px 14px 20px 13px #00000042;
    border-radius: 10px;
    margin: 100px 50px;
  }

  .contact-foto {
    max-width: 20%;
    height: auto;
    margin: 20px;
    border-radius: 50%;
  }

  .contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  .contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    font-size: 16px;
  }

  .contact-naam {
    font-size: 20px;
    color: #722622;
    font-weight: 700;
  }

  .contact-foto {
    max-width: 30%;
    height: auto;
    margin: 20px;
    border-radius: 50%;
  }
}
