.cards_container{
    background-color: #fff;
}


.main_heading{
    color: rgb(124, 30, 30);
    font-size: 48px;
    padding: 35px;
    text-align: center;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 125px;

}

.anne-herman{
    width: 467px;
    height: 312px;
    padding: 15px;
}

.empty-block-text{
    width: 200px;
    background-color: rgb(124, 30, 30);
}

.contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif !important;
}

.contact-naam{
    font-size: 30px;
    color: #722622;
}

.contact-foto{
    max-width: 30%;
    height: auto;
    margin: 20px;
    border-radius: 50%;

}
    
    

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #e9e9e9;
}

.contact-card-container{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    height: auto;
    box-shadow: 0px 12px 26px #0000001a;
    border-radius: 10px;
    margin: 100px 50px;
}

.over-ons-text{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.diensten-container {
    background: url('./img-8.jpg') center center/cover no-repeat, linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) );
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }

  .diensten-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 80px;
  }

  .diensten-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }

  .diensten-content-text{
    display: flex;
    align-items: center;
  }

  .diensten-text{
    font-size: 20px;
  }

  .diensten-text-b{
    font-family: 'Roboto', sans-serif;
    padding-left: 25px;
    padding-bottom: 20px;
    font-weight: 400;
  }

  .diensten-list{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  .diensten-list-2{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
  }

  .diensten-ul{
    list-style-type: none;
  }

  .diensten-ul li::before {
    content: "\3e";
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 0 0;
    color:#722622;
}

  .diensten-foto{
    padding-right: 30px;
    max-width: 600px;
    max-height: 400px;
  }


  .contact-form-container {
    background: url('./placeholder.png') center center/cover no-repeat, linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) );
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }

  .cf-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 80px;
  }

  .contact-form-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }

  
